a:link {text-decoration: none;
	color: #5092C9;}

.menu {
	text-align: center;
	font-size: 160%;
	float: right;
}

.menu ul {
	list-style-type: none;
	display: flex;
	flex-flow: wrap;
	justify-content: right;
	margin: 2px;
	padding: 5px;
}

.menu li {
	margin: 5px;
	flex-basis: 50px;
	flex-shrink: 1;
	flex-grow: 1;
}

.menu a:hover {
	color: #B18FCF;
	background-color: white;
	padding: 5px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	border: none;
	outline: none;
	margin: 5px;
	font-size: inherit;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: inherit; /* Important for vertical align on mobile phones */
	text-decoration: none;
	color: #5092C9;
}


a:hover, .dropdown:hover .dropbtn {
    color: #B18FCF;
	background-color: white;
	padding: 5px;
	padding: 5px;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #5092C9;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  color: #B18FCF;
	background-color: white;
	padding: 5px;
}

