@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.trans{
	background-color: #fff;
    background-color: rgba(255,255,255,0.6);
}

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Open Sans', sans-serif;
	color: #2C2C34;
	margin-bottom: 10px;
	background-image: url("https://static1.squarespace.com/static/57a638c5ebbd1acee619193b/t/5b5f88baf950b77867e03e81/1529434543262/food+background.png?format=1500w");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

}

h1 {
	text-align: left;
	font-size: 300%;
	color: #274060;
	text-decoration: none;

}

.home{
	text-align: center;
	font-size: 100%;
}

.homeform{
	text-align:center;
	font-size: 100%;
}

h2 { 
	font-style : italic;
	font-weight : normal;
	margin-bottom : 10px;
	color: #274060;
}

figure{
	float: right;
}

p { 
	line-height: 1.2em; 
	font-size: 150%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a:link {
	color: #5092C9;
	text-decoration: none;}

a:hover {
	color: #B18FCF;
	padding: 5px;
}

fieldset {
	margin-top: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

=======
>>>>>>> bbfcfc10f3c714fcfba5213f241458f6ccbdc437
=======
>>>>>>> bbfcfc10f3c714fcfba5213f241458f6ccbdc437
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}