@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.trans{
	background-color: #fff;
    background-color: rgba(255,255,255,0.6);
}

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Playfair Display', serif;
	color: #2C2C34;
	margin-bottom: 10px;
	background-image: url("https://static1.squarespace.com/static/57a638c5ebbd1acee619193b/t/5b5f88baf950b77867e03e81/1529434543262/food+background.png?format=1500w");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

}

header {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1 {
	text-align: left;
	font-size: 300%;
	color: #274060;
	text-decoration: none;

}

.home{
	text-align: center;
	font-size: 200%;
}

h2 { 
	font-style : italic;
	font-weight : normal;
	margin-bottom : 10px;
	color: #274060;
}


p { 
	line-height: 1.2em; 
	font-size: 105%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a:link {
	color: #5092C9;
	text-decoration: none;}

a:hover {
	color: #B18FCF;
	padding: 5px;
}

fieldset {
	margin-top: 10px;
}

.searchTerm {
  width: 85%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.container {
	position: relative;
	display: inline-block;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #fff;
  }
  
  .container:hover .overlay {
	opacity: .8;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

img { 
		width: 35%;
		height: auto;
		margin-left : 2%;
	}

.team img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.youtube iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58.3%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    margin-top: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00b4cc;
    cursor: pointer;
}
